/* favoritas */

.favoritas {
  padding: 7rem 1rem;
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.favoritas_titulo {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.favoritas_span {
  color: $color-naranja;
}

.favoritas_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 3rem;
}

.favoritas_tarjetas {
  background-color: rgb(19, 17, 17);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease;
}

.favoritas_imagen-contenedor {
  width: 100%;
  overflow: hidden;
  border-bottom: 3px solid rgb(19, 17, 17);
}

.favoritas_imagenes {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.favoritas_tarjetas:hover .favoritas_imagenes {
  transform: scale(1.2);
}

.favoritas_nombre {
  font-size: 1.2rem;
  font-weight: bold;
  color: $color-naranja;
  text-transform: uppercase;
  background-color: rgb(19, 17, 17);
  width: 100%;
  padding: 0.8rem 0;
}
