/* HTML INDEX */

/* header */

.navbar {
  background-color: #000 !important;
}

.header-logo {
  color: $color-blanco;
  text-transform: uppercase;
  font-size: 1rem;

  &:hover {
    color: $color-naranja;
  }
}

.nav-link {
  transition: color 0.3s;
  text-transform: uppercase;
  color: $color-blanco;
  font-size: 1rem;
}

.nav-item {
  text-transform: uppercase;
}

.nav-link {
  &:hover, &.active {
    color: $color-naranja;
  }
}

.headerlogo:hover {
  color: $color-naranja;
}

/* banner */

.banner {
  position: relative;
  height: 100vh;
  background: url("/img/banner.jpg") no-repeat center (center / cover);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner_opacidad {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.banner_contenido {
  position: relative;
  z-index: 2;
  max-width: 700px;
  padding: 20px;
}

.banner_titulo {
  font-size: 7rem;
  margin-bottom: 5px;
  letter-spacing: 6px;
  color: $color-blanco;
  font-family: Luckiest Guy;
}

.banner_subtitulo {
  font-size: 1.7rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: $color-blanco;
}

.banner_boton {
  display: inline-block;
  padding: 12px 25px;
  color: $color-naranja;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid $color-naranja;

  &:hover {
    color: $color-blanco;
    border: 2px solid $color-blanco;
    background-color: orange;
  }
}
