/* HTML MENU */

.menu_ {
  margin: 0 auto;
  background-image: url(/img/fondo.png);
  padding: 25px;
  margin-top: 7px;
}

.menu_titulo {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  border-bottom: 2px solid $color-negro;
  padding-bottom: 0.5rem;
  color: $color-naranja;
  text-transform: uppercase;
}

.menu_grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.menu_item {
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
}

.menu_item-titulo {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
  color: $color-blanco;
}

.menu_item-descripcion {
  font-size: 1.1rem;
  color: $color-blanco;
  margin-bottom: 0.5rem;
}

.menu_item-precio {
  font-weight: bold;
  font-size: 1rem;
  color: $color-naranja;
}
