/* HTML UBICACION */

.ubicacion_ {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.ubicacion_mapa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  z-index: 0;
  filter: brightness(0.5);
}

.ubicacion_contenedor {
  position: relative;
  z-index: 1;
  max-width: 450px;
  background-color: black;
  margin: 40px;
  padding: 60px;
  border-radius: 15px;
  margin-top: 80px;
}

.ubicacion_titulo {
  font-size: 1.8rem;
  font-weight: bold;
  color: $color-naranja;
  margin-bottom: 5px;
}

.ubicacion_subtitulo {
  color: $color-naranja;
  margin-bottom: 15px;
}

.ubicacion_lista {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ubicacion_item {
  padding: 12px 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ubicacion_nombre {
  font-size: 1rem;
  font-weight: 600;
  color: $color-blanco;
}

.ubicacion_direccion {
  font-size: 0.9rem;
  color: $color-blanco;
}

.ubicacion_icono {
  font-size: 1.2rem;
}
